<!DOCTYPE html>
<html>
<head>
	<title>Update</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    {% if role == 'student' %}
        {% include 'default_student.html' %}
    {% else %}
        {% include 'default_company.html' %}
    {% endif %}
	<br><br>
    {% for i in cd %}
    <div class="card mx-auto" style="width: 50%">
		<div class="card-body bg-light">
			<form method="post">
                {% csrf_token %}
				<label>HR Name:</label>
				<input class="form-control" type="text" name="hrname" value="{{ i.HRNAME }}"><br>
				<label>Email ID:</label>
				<input class="form-control" type="text" name="email" value="{{ i.EMAILID }}"><br>
				<label>Website Link:</label>
				<input class="form-control" type="text" name="wl" value="{{ i.WEBLINK }}">	<br>
				<button class="btn btn-primary form-control" value="submit" name="submit"><i class="fa fa-plus-square-o"></i>&nbsp;Upadate Details</button>
			</form>
		</div>
	</div>
    {% endfor %}
	<br><br><br>
	{% include 'footer.html' %}
</body>
</html>