{% extends 'default.html' %}
{% block title %} Forgot Password {% endblock %}
{% block body %}
    <br><br><br>
    <div>
        <ul class="message">
        {% for message in messages %}
           <script>alert('{{ message }}')</script>
        {% endfor %}
        </ul>
    </div>
	<div class="card mx-auto" style="width: 30%; height: 40%">
		<div class="card-body bg-light">
           <!--  <img style="height: 25%; width: 100%;" src="./images/demo/login.png">			  	 -->
		    <p class="card-text">
		    	<div class="container form-container">
					<div class="container-form">
			    		<form action="forgot_password" method="POST">
                            {% csrf_token %}
							<label for="username">Username:</label>
							<input type="text" class="form-control" name="username" placeholder="Enter username" required/><br><br>

							<label for="email">Email Id:</label>
							<input type="text" class="form-control" name="email" placeholder="Enter Email Id" required/><br><br>
							<div class="input-group">
                                <div class="inputIcon">
                                   	<input type="submit" id="send" class="btn btn-primary" name="sendpass" value="Send Password">
                               	</div>
                            </div>
						</form>
					</div>
				</div>
		    </p>
		</div>
	</div>
<br><br><br>
{% endblock %}