{% extends 'default.html' %}
{% block title %} Login {% endblock %}
{% block body %}
    {% load static %}
    <br><br><br>
    <div>
        <ul class="message">
        {% for message in messages %}
            <script>alert('{{ message }}')</script>
        {% endfor %}
        </ul>
    </div>
	<div class="card mx-auto" style="width: 30%">
		<div class="card-body bg-light">
            <img class="card-img" style="height: 30%; width: 100%;" src="{% static 'images/login.png' %}" alt="Login">
				<form action="login" method="POST">
                    {% csrf_token %}

					<label for="username">Username:</label>
					<input type="text" class="form-control" name="username" placeholder="Enter username" required/><br><br>

					<label for="password">Password:</label>
					<input type="password" class="form-control" name="psw" id="myInput" placeholder="Enter password" required/>
					&nbsp;
       					<input type="checkbox" onclick="myFunction()"> Show
					<script>
						function myFunction()
						{
							let x = document.getElementById("myInput");
							if (x.type =="password")
							{
   								x.type = "text";
							}
							else
							{
   								x.type = "password";
							}
						}
					</script>
					<br><br>

					<button class="btn btn-primary" value="submit" name="submit"><i class="fa fa-sign-in"></i>&nbsp;Login</button>
					<br><br>

	 				<div>
		 				<span><a href="{% url 'forgot_password' %}">Forgot Password</a></span><br>
			  			<span>Not Registered yet ?&nbsp;&nbsp;<a href="{% url 'register' %}">Register Now</a></span>
			  		</div>
				</form>
	  	</div>
	</div>
	<br><br><br>
{% endblock %}